<h2>Turnos Disponibles</h2>
<form action="/turno/mover" method="POST">
    <input type="hidden" name="ID_Turno_Original" value="<%= turnoSeleccionado.ID_Turno %>">
    <table>
        <tr>
            <th>Seleccionar</th>
            <th>especialidad</th>
            <th>agenda</th>
            <th>fecha</th>
            <th>hora</th>
        </tr>
        <% turnosDisponibles.forEach(turno => { %>
            <tr>
                <td>
                    <input type="radio" name="ID_Turno_Nuevo" value="<%= turno.ID_Turno %>" required>
                </td>
                <td><%= ID_Especialidad %> </td>
                <td><%= turno.ID_Agenda %></td>
                <td><%= turno.Fecha_Turno %></td>
                <td><%= turno.Hora_Inicio_Turno %></td>
            </tr>
        <% }) %>
    </table>
    <button type="submit">Mover aquí</button>
</form>
