<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/turnos/listarTurnosExistentes.css">
    <link rel="icon" href="/img/consultorio.png" type="image/png">
    <title>Turnos Existentes</title>
</head>

<body>
    <div class="botones">
        <a href="/turno/filtrosExistentes">Volver a los filtros</a>
        <a href="/secretaria">Volver al inicio</a>
    </div>

    <% if (error) { %>
        <p><%= error %></p>
    <% } else if (Array.isArray(turnosDisponibles) && turnosDisponibles.length > 0) { %>
        <ul>
            <% turnosDisponibles.forEach(turno => { %>
                <li>
                    <% if (turno.Estado != 'Reservado'||turno.Estado != 'A Confirmar') { %>
                        <%= turno.Nombre_Paciente %> - <%= turno.Fecha_Turno %>
                        <a href="/turno/reservados/editar/<%= turno.ID_Turno %>">Editar</a>
                        <a href="/turno/alternativas/<%= turno.ID_Turno %>">Alternativas</a>
                    <% } else { %>
                        <%= turno.Hora_Inicio_Turno %> - <%= turno.Fecha_Turno %>
                        <a href="/turno/reservados/editar/<%= turno.ID_Turno %>">Editar</a>
                    <% } %>
                    
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No hay turnos.</p>
    <% } %>

    <div class="botones">
        <a href="/turno/filtrosExistentes">Volver a los filtros</a>
        <a href="/secretaria">Volver al inicio</a>
    </div>
</body>

</html>
