<form action="/turno" method="GET">
    <label for="especialidad">Especialidad:</label>
    <select name="especialidad" id="especialidad">
        <% especialidades.forEach(especialidad => { %>
            <option value="<%= especialidad.ID_Especialidad %>"><%= especialidad.Nombre_Especialidad %></option>
        <% }) %>
    </select>

    <label for="profesional">Profesional:</label>
    <select name="profesional" id="profesional">
        <% profesionales.forEach(profesional => { %>
            <option value="<%= profesional.ID_Profesional %>"><%= profesional.Nombre_Profesional %></option>
        <% }) %>
    </select>

    <label for="fechaInicio">Fecha inicio:</label>
    <input type="date" name="fechaInicio" id="fechaInicio">

    <label for="fechaFin">Fecha fin:</label>
    <input type="date" name="fechaFin" id="fechaFin">

    <label for="horaInicio">Hora inicio:</label>
    <input type="time" name="horaInicio" id="horaInicio">

    <label for="horaFin">Hora fin:</label>
    <input type="time" name="horaFin" id="horaFin">

    <button type="submit">Filtrar</button>
</form>
<table>
    <thead>
        <tr>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Profesional</th>
            <th>Especialidad</th>
            <th>Disponibilidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <% if(turnos.length > 0) { %>
            <ul>
            <% turnos.forEach(turno => { %>
                <li><%= turno.Nombre_Paciente %> - <%= turno.Fecha %></li>
            <% }) %>
            </ul>
        <% } else { %>
            <p>No hay turnos disponibles.</p>
        <% } %>        
    </tbody>
</table>

