<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Paciente</title>
    <link rel="stylesheet" href="/css/paciente/editarPaciente.css">
    <link rel="icon" href="/img/consultorio.png" type="image/png">
</head>
<body>
    <h1>Editar Paciente</h1>
    <form action="/paciente/editar/<%= paciente.ID_Paciente %>" method="POST">
        <label>Nombre:</label>
        <input type="text" name="nombre" value="<%= paciente.Nombre_Paciente %>" required>
        
        <label>Apellido:</label>
        <input type="text" name="apellido" value="<%= paciente.Apellido_Paciente %>" required>
        
        <label>DNI:</label>
        <input type="text" name="dni" value="<%= paciente.Dni_Paciente %>" required>
        
        <label>Obra Social:</label>
        <input type="text" name="obraSocial" value="<%= paciente.Obra_Social %>" required>
        
        <label>Teléfono:</label>
        <input type="text" name="telefono" value="<%= paciente.Telefono %>">
        
        <label>Email:</label>
        <input type="email" name="email" value="<%= paciente.Email %>">
        
        <button type="submit">Guardar Cambios</button>
    </form>
    <div class="button-container">
        <a href="/paciente/inicio" class="button">Volver a la lista</a>
        <a href="/" class="button">Volver al Inicio</a>
    </div>
</body>
</html>
