<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listar</title>
    <link rel="stylesheet" href="/css/paciente/listarPaciente.css">
    <link rel="icon" href="/img/consultorio.png" type="image/png">
</head>
<body>
    <h1>Lista de Pacientes</h1>
<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Obra Social</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Acciones</th>
    </tr>
    <% pacientes.forEach(paciente => { %>
        <tr>
            <td><%= paciente.Nombre_Paciente %></td>
            <td><%= paciente.Apellido_Paciente %></td>
            <td><%= paciente.Dni_Paciente %></td>
            <td><%= paciente.Obra_Social %></td>
            <td><%= paciente.Telefono %></td>
            <td><%= paciente.Email %></td>
            <td>
                <a href="/paciente/editar/<%= paciente.ID_Paciente %>">Editar</a> |
                <a href="/paciente/baja/<%= paciente.ID_Paciente %>">Eliminar</a>
            </td>
        </tr>
    <% }) %>
</table>
<a href="/register/patient" class="button">Agregar Paciente</a>
<a href="/secretaria" class="button">Volver al Inicio</a>
</body>
</html>
