<!-- src/views/editProfesional.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Profesional</title>
    <link rel="stylesheet" href="/css/profesional/editarProfesional.css">
    <link rel="icon" href="/img/consultorio.png" type="image/png">
</head>
<body>
    <h1>Editar Profesional</h1>
    <form action="/profesional/<%= profesional.ID_Profesional %>?_method=PUT" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" value="<%= profesional.Nombre_Profesional %>" required>

        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" value="<%= profesional.Apellido_Profesional %>" required>

        <label for="telefono">Teléfono:</label>
        <input type="text" name="telefono" value="<%= profesional.Telefono %>" required>

        <label for="email">Email:</label>
        <input type="email" name="email" value="<%= profesional.Email %>" required>

        <button type="submit">Actualizar Profesional</button>
    </form>

    <a href="/profesional">Volver a la lista</a>
    <a href="/admin">Volver al inicio</a>
</body>
</html>
