<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Profesionales</title>
    <link rel="stylesheet" href="/css/profesional/listarProfesionales.css">
    <link rel="icon" href="/img/consultorio.png" type="image/png">
</head>
<body>
    <h1>Profesionales</h1>

    <h2>Opciones</h2>
    <ul>
        <li><a href="/profesional/agregar">Agregar Profesional</a></li>
        <li><a href="/profesional">Listar Profesionales</a></li>
    </ul>

    <h2>Lista de Profesionales</h2>
    <ul>
        <% profesionales.forEach(profesional => { %>
            <li>
                <strong>Nombre:</strong> <%= profesional.Nombre_Profesional %><br>
                <strong>Apellido:</strong> <%= profesional.Apellido_Profesional %><br>
                <strong>Teléfono:</strong> <%= profesional.Telefono %><br>
                <strong>Email:</strong> <%= profesional.Email %><br>
                <a href="/profesional/editar/<%= profesional.ID_Profesional %>">Editar</a>
                <a href="/profesional/baja/<%= profesional.ID_Profesional %>">Eliminar</a>
            </li>
        <% }); %>
    </ul>
    
    <button class="back-button" onclick="window.location.href='/'">Volver al inicio</button>
</body>
</html>
