<!-- src/views/profesionales.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesionales</title>
</head>
<body>
    <h1>Lista de Profesionales</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% profesionales.forEach(profesional => { %>
                <tr>
                    <td><%= profesional.id %></td>
                    <td><%= profesional.Nombre_Profesional %></td>
                    <td><%= profesional.Apellido_Profesional %></td>
                    <td><%= profesional.Telefono %></td>
                    <td><%= profesional.Email %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
